@charset "UTF-8";

@font-face {
  font-family: "neoshop";
  src:url("../font/neoshop.eot");
  src:url("../font/neoshop.eot?#iefix") format("embedded-opentype"),
    url("../font/neoshop.woff") format("woff"),
    url("../font/neoshop.ttf") format("truetype"),
    url("../font/neoshop.svg#neoshop") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "neoshop" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="mpx-"]:before,
[class*=" mpx-"]:before {
  font-family: "neoshop" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mpx-24h:before {
  content: "a";
}
.mpx-accepted:before {
  content: "b";
}
.mpx-actualize:before {
  content: "c";
}
.mpx-addtocart1:before {
  content: "d";
}
.mpx-addtocart:before {
  content: "e";
}
.mpx-align1:before {
  content: "f";
}
.mpx-android:before {
  content: "g";
}
.mpx-apple:before {
  content: "h";
}
.mpx-applelogo:before {
  content: "i";
}
.mpx-approved:before {
  content: "j";
}
.mpx-arrowright:before {
  content: "k";
}
.mpx-arrowleft:before {
  content: "l";
}
.mpx-basket1:before {
  content: "m";
}
.mpx-basket2:before {
  content: "n";
}
.mpx-basket3:before {
  content: "o";
}
.mpx-plus:before {
  content: "p";
}
.mpx-blacktag:before {
  content: "q";
}
.mpx-briefcase:before {
  content: "r";
}
.mpx-phone-outline:before {
  content: "s";
}
.mpx-arrow-up:before {
  content: "t";
}
.mpx-basket4:before {
  content: "u";
}
.mpx-arrow-sm-r:before {
  content: "v";
}
.mpx-clock:before {
  content: "w";
}
.mpx-email:before {
  content: "x";
}
.mpx-credit1:before {
  content: "y";
}
.mpx-credit2:before {
  content: "z";
}
.mpx-desktop:before {
  content: "A";
}
.mpx-diamond:before {
  content: "B";
}
.mpx-dollar:before {
  content: "C";
}
.mpx-dollars:before {
  content: "D";
}
.mpx-down-round:before {
  content: "E";
}
.mpx-arrow-down:before {
  content: "F";
}
.mpx-earth:before {
  content: "G";
}
.mpx-email1:before {
  content: "H";
}
.mpx-exclamation:before {
  content: "I";
}
.mpx-facebook:before {
  content: "J";
}
.mpx-pinterest:before {
  content: "K";
}
.mpx-sale:before {
  content: "L";
}
.mpx-credit3:before {
  content: "M";
}
.mpx-hand-credit:before {
  content: "N";
}
.mpx-twitter:before {
  content: "O";
}
.mpx-smartphone1:before {
  content: "P";
}
.mpx-smartphone2:before {
  content: "Q";
}
.mpx-search1:before {
  content: "R";
}
.mpx-badge:before {
  content: "S";
}
.mpx-right-round:before {
  content: "T";
}
.mpx-close:before {
  content: "U";
}
.mpx-gift:before {
  content: "V";
}
.mpx-right-round1:before {
  content: "W";
}
.mpx-desktop1:before {
  content: "Y";
}
.mpx-badge-new:before {
  content: "Z";
}
.mpx-arrow-sm-l:before {
  content: "0";
}
.mpx-list:before {
  content: "1";
}
.mpx-econom1:before {
  content: "2";
}
.mpx-minus:before {
  content: "3";
}
.mpx-credit:before {
  content: "4";
}
.mpx-change:before {
  content: "5";
}
.mpx-star:before {
  content: "6";
}
.mpx-flaticon-23:before {
  content: "7";
}
.mpx-thumb-up:before {
  content: "8";
}
.mpx-left-round:before {
  content: "9";
}
.mpx-link:before {
  content: "!";
}
.mpx-home:before {
  content: "\"";
}
.mpx-home1:before {
  content: "#";
}
.mpx-heart:before {
  content: "$";
}
.mpx-heart1:before {
  content: "%";
}
.mpx-mobiles:before {
  content: "&";
}
.mpx-home2:before {
  content: "'";
}
.mpx-down-round1:before {
  content: "(";
}
.mpx-delivery:before {
  content: ")";
}
.mpx-credit-cards:before {
  content: "+";
}
.mpx-credit-1:before {
  content: ",";
}
.mpx-call:before {
  content: "-";
}
.mpx-windows-logo:before {
  content: ".";
}
.mpx-visa-logo:before {
  content: "/";
}
.mpx-instagram:before {
  content: ":";
}
.mpx-movie:before {
  content: ";";
}
.mpx-up-round1:before {
  content: "<";
}
.mpx-trash:before {
  content: "=";
}
.mpx-tablet:before {
  content: ">";
}
.mpx-gift1:before {
  content: "?";
}
.mpx-user:before {
  content: "@";
}
.mpx-star-1:before {
  content: "[";
}
.mpx-google:before {
  content: "]";
}
.mpx-cart:before {
  content: "^";
}
.mpx-left:before {
  content: "_";
}
.mpx-left-r:before {
  content: "`";
}
.mpx-left-round1:before {
  content: "{";
}
.mpx-login:before {
  content: "~";
}
.mpx-linkedin:before {
  content: "\\";
}
.mpx-logout:before {
  content: "\e000";
}
.mpx-magnification:before {
  content: "\e001";
}
.mpx-user-sq:before {
  content: "\e002";
}
.mpx-page-edit:before {
  content: "\e003";
}
.mpx-paypal:before {
  content: "\e004";
}
.mpx-right-r:before {
  content: "\e005";
}
.mpx-premium:before {
  content: "\e006";
}
.mpx-gift2:before {
  content: "\e007";
}
.mpx-right:before {
  content: "\e008";
}
.mpx-search3:before {
  content: "\e009";
}
.mpx-basket5:before {
  content: "\e00a";
}
.mpx-smartphone-touch:before {
  content: "\e00b";
}
.mpx-smartphone:before {
  content: "\e00c";
}
.mpx-rss:before {
  content: "\e00d";
}
.mpx-special:before {
  content: "\e00e";
}
.mpx-starred:before {
  content: "\e00f";
}
.mpx-synchronize:before {
  content: "\e010";
}
.mpx-tiles:before {
  content: "\e011";
}
.mpx-trash-1:before {
  content: "\e012";
}
.mpx-trash-2:before {
  content: "\e013";
}
.mpx-star-2:before {
  content: "\e014";
}
.mpx-star-ou:before {
  content: "\e015";
}
.mpx-copy:before {
  content: "\e016";
}
.mpx-delivery-1:before {
  content: "\e017";
}
.mpx-up-down:before {
  content: "\e018";
}
.mpx-vk:before {
  content: "\e019";
}
.mpx-edit-sq:before {
  content: "\e01a";
}
.mpx-rocket:before {
  content: "\e01b";
}
.mpx-link-1:before {
  content: "\e01c";
}
.mpx-users:before {
  content: "\e01d";
}
.mpx-trash-fa:before {
  content: "\e01e";
}
.mpx-briefcase-1:before {
  content: "\e01f";
}
.mpx-film:before {
  content: "\e020";
}
.mpx-gear:before {
  content: "\e021";
}
.mpx-refresh-1:before {
  content: "\e022";
}
.mpx-refresh:before {
  content: "\e023";
}
.mpx-checked:before {
  content: "\e024";
}
.mpx-exit:before {
  content: "\e025";
}
.mpx-gears:before {
  content: "\e026";
}
.mpx-compare:before {
  content: "\e027";
}
.mpx-phone-1:before {
  content: "\e028";
}
.mpx-lighting:before {
  content: "\e029";
}
.mpx-move:before {
  content: "\e02a";
}
.mpx-locked:before {
  content: "\e02b";
}
.mpx-list-or:before {
  content: "\e02c";
}
.mpx-list-1:before {
  content: "\e02d";
}
.mpx-minus-r:before {
  content: "\e02e";
}
.mpx-plus-r:before {
  content: "\e02f";
}
.mpx-phone:before {
  content: "\e030";
}
.mpx-double-dir:before {
  content: "\e031";
}
.mpx-scheme:before {
  content: "\e032";
}
.mpx-up-round:before {
  content: "\e033";
}
.mpx-user-round:before {
  content: "\e034";
}
.mpx-user-round-o:before {
  content: "\e035";
}
.mpx-vimeo:before {
  content: "\e036";
}
.mpx-yahoo:before {
  content: "\e037";
}
.mpx-youtube-1:before {
  content: "\e038";
}
.mpx-youtube:before {
  content: "\e039";
}
.mpx-unlocked:before {
  content: "\e03a";
}
.mpx-css3:before {
  content: "\e03b";
}
.mpx-photocam:before {
  content: "\e03c";
}
.mpx-image:before {
  content: "\e03d";
}
.mpx-eye:before {
  content: "\e03e";
}
.mpx-dot-2:before {
  content: "\e03f";
}
.mpx-flickr:before {
  content: "\e040";
}
.mpx-retweet:before {
  content: "\e041";
}
.mpx-w3:before {
  content: "\e042";
}
.mpx-wikipedia:before {
  content: "\e043";
}
.mpx-facebook-places:before {
  content: "\e044";
}
.mpx-foursquare:before {
  content: "\e045";
}
.mpx-amazon:before {
  content: "\e046";
}
.mpx-ebay:before {
  content: "\e047";
}
.mpx-basket:before {
  content: "\e048";
}
.mpx-grid:before {
  content: "\e049";
}
.mpx-info:before {
  content: "\e04a";
}
.mpx-html5:before {
  content: "\e04b";
}
.mpx-euro:before {
  content: "\e04c";
}
.mpx-pound:before {
  content: "\e04d";
}
.mpx-dolar:before {
  content: "\e04e";
}
.mpx-jpy:before {
  content: "\e04f";
}
.mpx-inr:before {
  content: "\e050";
}
.mpx-bitcoin:before {
  content: "\e051";
}
.mpx-unlock:before {
  content: "\e052";
}
.mpx-callendar-o:before {
  content: "\e053";
}
.mpx-important:before {
  content: "\e054";
}
.mpx-clock-1:before {
  content: "\e055";
}
.mpx-flag:before {
  content: "\e056";
}
.mpx-sad:before {
  content: "\e057";
}
.mpx-neutral:before {
  content: "\e058";
}
.mpx-notebook:before {
  content: "\e059";
}
.mpx-calendar:before {
  content: "\e05a";
}
.mpx-happy:before {
  content: "\e05b";
}
.mpx-x-circle:before {
  content: "\e05c";
}
.mpx-info-1:before {
  content: "\e05d";
}
.mpx-question:before {
  content: "\e05e";
}
.mpx-desc-num:before {
  content: "*";
}
.mpx-asc-num:before {
  content: "\e05f";
}
.mpx-desc-alpha:before {
  content: "\e060";
}
.mpx-asc-alpha:before {
  content: "\e061";
}
.mpx-instagram1:before {
  content: "\e062";
}
.mpx-arrow-up-sm:before {
  content: "X";
}
.mpx-arrow-right-sm:before {
  content: "\e063";
}
.mpx-arrow-left-sm:before {
  content: "\e064";
}
.mpx-arrow-down-sm:before {
  content: "\e065";
}
.mpx-flickr-1:before {
  content: "|";
}
.mpx-2441:before {
  content: "}";
}
.mpx-choosing:before {
  content: "}";
}
.mpx-menu-round-f:before {
  content: "\e066";
}
.mpx-color1:before {
  content: "\e067";
}
.mpx-color2:before {
  content: "\e068";
}
.mpx-command:before {
  content: "\e069";
}
.mpx-documents7:before {
  content: "\e06a";
}
.mpx-heart3:before {
  content: "\e06b";
}
.mpx-menu-round-o:before {
  content: "\e06c";
}
.mpx-responsive16:before {
  content: "\e06d";
}
.mpx-basket6:before {
  content: "\e06e";
}
.mpx-grid1:before {
  content: "\e06f";
}
.mpx-menu-square-o:before {
  content: "\e070";
}
.mpx-tools:before {
  content: "\e071";
}
.mpx-desktop-color-round:before {
  content: "\e072";
}
.mpx-desktop-color:before {
  content: "\e073";
}
.mpx-24h1:before {
  content: "\e074";
}
.mpx-menu-square-f:before {
  content: "\e075";
}
.mpx-menu:before {
  content: "\e076";
}
.mpx-printing3:before {
  content: "\e077";
}
.mpx-push1:before {
  content: "\e078";
}
.mpx-document:before {
  content: "\e079";
}
.mpx-24phone:before {
  content: "\e07a";
}
.mpx-airplane:before {
  content: "\e07b";
}
.mpx-globalair:before {
  content: "\e07c";
}
.mpx-bag:before {
  content: "\e07d";
}
.mpx-money:before {
  content: "\e07e";
}
.mpx-qrcode:before {
  content: "\e07f";
}
.mpx-support:before {
  content: "\e080";
}
.mpx-arr-thin-up:before {
  content: "\e081";
}
.mpx-compare1:before {
  content: "\e082";
}
.mpx-adduser:before {
  content: "\e083";
}
.mpx-arr-thin-down:before {
  content: "\e084";
}
.mpx-freeship:before {
  content: "\e085";
}
.mpx-quickdelivery:before {
  content: "\e086";
}
.mpx-magnifier1:before {
  content: "\e087";
}
.mpx-mastercard:before {
  content: "\e088";
}
.mpx-mastercard-1:before {
  content: "\e089";
}
.mpx-money1:before {
  content: "\e08a";
}
.mpx-badge-new1:before {
  content: "\e08b";
}
.mpx-arr-thin-right:before {
  content: "\e08c";
}
.mpx-online14:before {
  content: "\e08d";
}
.mpx-pen-sq:before {
  content: "\e08e";
}
.mpx-pencil:before {
  content: "\e08f";
}
.mpx-arr-thin-left:before {
  content: "\e090";
}
.mpx-sale-bag:before {
  content: "\e091";
}
.mpx-sale1:before {
  content: "\e092";
}
.mpx-sale2:before {
  content: "\e093";
}
.mpx-shop-location:before {
  content: "\e094";
}
.mpx-shopper:before {
  content: "\e095";
}
.mpx-shoppingcart:before {
  content: "\e096";
}
.mpx-shoppingcart1:before {
  content: "\e097";
}
.mpx-support-online:before {
  content: "\e098";
}
.mpx-support1:before {
  content: "\e099";
}
.mpx-adduser1:before {
  content: "\e09a";
}
.mpx-user-settings:before {
  content: "\e09b";
}
.mpx-sale1-1:before {
  content: "\e09c";
}
.mpx-comments:before {
  content: "\e09d";
}
.mpx-heart2:before {
  content: "\e09e";
}
.mpx-paperplane:before {
  content: "\e09f";
}
.mpx-like:before {
  content: "\e0a0";
}
.mpx-banknote:before {
  content: "\e0a1";
}
.mpx-fa-double-down:before {
  content: "\e0a3";
}
.mpx-fa-double-up:before {
  content: "\e0a4";
}
.mpx-fa-double-right:before {
  content: "\e0a5";
}
.mpx-fa-double-left:before {
  content: "\e0a6";
}
.mpx-home-thin:before {
  content: "\e0a7";
}
.mpx-burst-new:before {
  content: "\e0a8";
}
.mpx-burst-sale:before {
  content: "\e0a9";
}
.mpx-error:before {
  content: "\e0aa";
}
.mpx-painting-pallet-thin:before {
  content: "\e0ab";
}
.mpx-add-shopping-cart-thin:before {
  content: "\e0ac";
}
.mpx-rm-shopping-cart-thin:before {
  content: "\e0ad";
}
.mpx-shop:before {
  content: "\e0a2";
}
